/* Mobile */
@media (max-width: 767px) {
  body{
    font-family: "Poppins", sans-serif;
    width: 100%;
  }
  .container{
    padding: 5px;
    width: 100%;
  }
  .todo-app{
    margin: 50px auto 20px;
    padding: 30px 20px 50px;
    width: 50%;

  }

}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  body{
    font-family: "Poppins", sans-serif;
    width: 100%;
  }
}

/* Laptop */
@media (min-width: 1024px) and (max-width: 1439px) {
  body{
    font-family: "Poppins", sans-serif;
    width: 100%;
  }
}

/* Desktop */
@media (min-width: 1440px) {
  body{

    font-family: "Poppins", sans-serif;
  }
}

.container{
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #03913a, #b708e3);
  padding: 10px;

}

.todo-app{
  width: 100%;
  max-width: 540px;
  background: #fff;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  -o-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}
.todo-app h2{
  color: #002765;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.todo-app h2 img{
  width: 30px;
  margin-left: 10px;
}

.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  padding-left: 20px;
  -o-border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  margin-bottom: 25px;
}

input{
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-weight: 14px;

}

button{
  border: none;
  outline: none;
  padding: 16px 50px;
  background: #b41f0f;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  -o-border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  border-radius: 40px;
}

ul li{
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  position: relative;

}

ul li::before{ 
  content: ""; 
  position: absolute; 
  height:28px; 
  width: 28px; 
  -moz-border-radius:50%; 
  -webkit-border-radius:50%; 
  border-radius:50%; 
  background-image: url(images/unchecked.png);
  background-size: cover;
  top: 12px;
  left: 8px;

}

ul li.checked{
  color: #555;
  text-decoration: line-through;
}

ul li.checked::before{
  background-image: url(images/check.png);
}

ul li span{
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
  -o-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
ul li span:hover{
  background: #edeef0;;
}